# WalletConnect Project ID (Get one at https://cloud.walletconnect.com)
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=your_walletconnect_project_id

# Private Key and Signer config for Relayer (Optional backend services)
PRIVATE_KEY=your_private_key_without_0x
LITVM_CLAIM_SIGNER_PRIVATE_KEY=your_claim_signer_key

# Third-party Integrations
NEXT_PUBLIC_CHANGENOW_API_KEY=your_changenow_api_key

# Arbitrum RPC & Explorer
ARBITRUM_RPC_URL=https://rpc.sentio.xyz/arbitrum-one
NEXT_PUBLIC_ARBITRUM_RPC_URL=https://rpc.sentio.xyz/arbitrum-one
NEXT_PUBLIC_ARBITRUM_EXPLORER_URL=https://arbiscan.io

# Database & Indexing
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/?appName=dex

# LitVM / Somnia Network
LITVM_RPC_URL=https://liteforge.rpc.caldera.xyz/infra-partner-http
NEXT_PUBLIC_LITVM_RPC_URL=https://liteforge.rpc.caldera.xyz/infra-partner-http
NEXT_PUBLIC_LITVM_CHAIN_ID=4441
NEXT_PUBLIC_LITVM_EXPLORER_URL=https://liteforge.rpc.caldera.xyz/infra-partner-http

# NFT / Rewards Configuration
NEXT_PUBLIC_SUPER_CONTRIBUTOR_NFT_ADDRESS=0xA2eC9aAf2235C66491767e69eBBD885469697B3E

# GenLayer Intelligent Contracts & AI Agent
GEMINI_API_KEY=your_gemini_api_key
GENLAYER_AGENT_VALIDATOR=0xFc77C6A20B1102979f5887A5efe9611a2Ef6Afd5
GENLAYER_LIQUIDITY_VALIDATOR=0xEFb9473B5269A79d72Df4b6E73E310791a185eeC
GENLAYER_RPC=https://rpc-bradbury.genlayer.com

# Goldsky Subgraph
NEXT_PUBLIC_DOPPLER_SUBGRAPH_URL=https://api.goldsky.com/api/public/project_cmm4p25ts3q2201z13r92dofb/subgraphs/doppler-subgraph/1.0.0/gn
