MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/?appName=dex
NEXT_PUBLIC_LITVM_RPC_URL=https://liteforge.rpc.caldera.xyz/infra-partner-http
LITVM_WS_RPC_URL=wss://liteforge.rpc.caldera.xyz/infra-partner-ws
